# Skrypt do predykcji danych demograficznych oparty o dane historyczne GUS

## Zaimportowanie bibliotek

In [2]:
import requests

import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns
import seaborn.objects as so

## Zaimportowanie danych z API GUS

Zaimportowanie danych z API GUS Portal z API BDL.

In [4]:
my_params = {'lang' : 'pl', 'format': 'json', 'var-id': '1608279'}
response = requests.get('https://bdl.stat.gov.pl/api/v1/data/by-unit/012400000000', params=my_params)
output = response.json()

df = pd.DataFrame(output['results'][0]['values'],columns=['year','val'])
df

    year   val
0   2009  57.1
1   2010  58.4
2   2011  58.3
3   2012  58.4
4   2013  58.8
5   2014  59.3
6   2015  59.3
7   2016  59.9
8   2017  59.8
9   2018  59.6
10  2019  59.3
11  2020  58.6
12  2021  58.4
13  2022  59.5